
./.vscode
src/graph/*
src/.antlr/*
src/exe 
src/test.s
src/a.out
src/code.s
src/results/*
src/test_gcc.*


.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

